#!/bin/sh

LogFile = /tmp/backup.log
BakDir = /tmp/

#create backup directory

if [ -d $BakDir ]
then
    cd $BakDir
    touch $LogFile
else
    mkdir -p $BakDir
    cd $BakDir
    touch $LogFile
fi


#backup

datadump=`which mysqldump`
db = "{{ mysql_db }}"
path = {{ root }}
mysqluser = "{{ mysql_user }}"
userpass = "{{ mysql_password }}"

if $datadump -u $mysqluser --password=$userpass -h localhost --opt $db > $db.`date +%Y%m%d`.sql 2>&1
then
    echo " backup $db success" >> $LogFile
else
    echo " backup $db error" >> $LogFile
    exit 1
fi

if tar czpf wordpress.`date +%Y%m%d`.tar.gz $path $db.`date +%Y%m%d`.sql >/dev/null 2>&1
then
    echo " backup success" >> $LogFile
    rm -f $db.`date +%Y%m%d`.sql
else
    echo " backup error" >> $LogFile
    exit 1
fi
